:root{
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    border-style: none;
}

body{
    background-color: var(--Cream);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.subtitle{
    font-family: 'Montserrat', sans-serif;
    color: var(--Dark-grayish-blue);
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 12px;
}

h1{
    font-family: 'Fraunces', serif;
    color:var(--Very-dark-blue);
    line-height: 32px;
}

p{
    font-size: 14px;
    color: var(--Dark-grayish-blue);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 23px;
}

.card{
    width: 600px;
    height: 450px;
    background-color: var(--White);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop-img{
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.mobile-img{
    display:none;
}

.text{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 23px;
    width: 237px;
}

.pricing{
    display: flex;
    gap: 20px;
    align-items: center;
}

.pricing>h1{
    color: var(--Dark-cyan);
}

.pricing>p{
    text-decoration: line-through;
}

.btn-buy{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--Dark-cyan);
    width: 240px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    color: var(--Cream);
}

.btn-buy>p{
    color: var(--Cream);
    font-weight: 700;
}

.btn-buy:hover{
    background-color:  hsl(158, 43%, 32%);;
}

@media (max-width:700px) {
    body{
        width: 100vw;
        height: 100vh;
    }

    .card{
        width: 309px;
        height: 660px;
        flex-direction: column;
    }

    .desktop-img{
        display:none;
    }

    .mobile-img{
        display: block;
        width: 309px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    
    }
}